<app-preloader
  [isLoading]="isLoading"
  [progress]="loadingProgress">
</app-preloader>

<div class="smooth-scroll-wrapper">
    <section class="hero-section-0">
        <div class="overlay-content-0">
            <img src="assets/img-0.png" class="icon-steam" alt="STEAM"> <h1><span>Vocaciones STEAM</span></h1>
        </div>
        <div class="overlay-content-0-1">
            <button class="cta-button-1">Comenzar Ahora</button>
        </div>
    </section>
    <section class="hero-section">
        <video autoplay muted loop class="bg-video">
            <source src="assets/steam-bg.mp4" type="video/mp4">
        </video>
    </section>

    <section class="hero-section-1">
        <div class="overlay-content-1">
            <img src="assets/1.gif" class="gif-steam" alt="STEAM"> <h1 class="reveal-text"><span>Bienvenido a STEAM</span></h1>
        </div>
    </section>

    <section class="hero-section-2">
    <div class="info-container">
        <div class="overlay-content">
            <h1 class="reveal-text">TU FUTURO</h1>
            <h1 class="reveal-text italic-style">ES STEAM</h1>
        </div>
    </div>
</section>

    <section class="info-section info-container section-1">
        <div class="info-container">
            <div class="info-image">
                <img src="assets/img-1.png" alt="AI Lab">
            </div>
            <div class="info-text">
                <h2>No seas parte de la estadística.</h2>
                <p>Tu futuro no debería ser una moneda al aire. Déjanos guiarte en una experiencia inmersiva donde tus pasiones encuentran su propósito real. Descubre cómo tus talentos pueden transformar el mundo a través de la ciencia, el arte y la tecnología.</p>
            </div>
        </div>
    </section>

    <section class="info-section info-container section-2">
        <div class="info-container">
            <div class="info-text">
                <h2>Una mente digital que te comprende.</h2>
                <p>Elegir carrera es una de las decisiones más grandes de tu vida y no tienes que hacerlo a ciegas. Olvida la confusión y el miedo a equivocarte; estamos aquí para darte la claridad que necesitas para decidir con total seguridad.</p>
            </div>
            <div class="info-image">
                <img src="assets/img-2.jpg" alt="AI Lab">
            </div>
        </div>
    </section>

    <section class="info-section info-container section-3">
        <div class="info-container">
            <div class="info-image">
                <img src="assets/img-3.png" alt="AI Lab">
            </div>
            <div class="info-text">
                <h2>Tu próximo paso está a la vuelta de la esquina.</h2>
                <p>Imagina tener un mentor personal que entiende exactamente qué te apasiona y en qué eres brillante. Nuestra tecnología analiza tu esencia para mostrarte un camino diseñado a tu medida, convirtiendo tus dudas en una ruta clara hacia el éxito profesional.</p>
            </div>
        </div>
    </section>

    <section class="info-section info-container section-4">
        <div class="info-container">
            <div class="info-text">
                <h2>Visualiza tu potencial.</h2>
                <p>El éxito no está lejos, está esperando a que des el primer paso. Te conectamos directamente con las mejores oportunidades académicas y universidades que te rodean, para que nada te detenga en tu camino a convertirte en el líder del mañana.</p>
            </div>
            <div class="info-image">
                <img src="assets/img-4.png" alt="AI Lab">
            </div>
        </div>
    </section>

    <section class="hero-section-2">
    <div class="info-container">
        <div class="overlay-content">
            <h1 class="reveal-text">¿LISTO PARA </h1>
            <h1 class="reveal-text">DESCUBRIR TU</h1>
            <h1 class="reveal-text">CAMINO?</h1>
        </div>
    </div>
</section>
    <button class="cta-button">Comenzar Ahora</button>

    <section class="hero-section-3">
        <div class="info-container">
            <div class="overlay-content-1-1">
                <p>Somos Eagle Code, un equipo multidisciplinario dedicado 
                    a revolucionar la orientación profesional mediante tecnología 
                    de vanguardia. Nuestra PWA, Vocaciones STEAM, nace para combatir 
                    la deserción académica que afecta al 40% de los estudiantes en su 
                    primer año. Especializados en el desarrollo con Angular, NestJS 
                    y PostgreSQL, hemos construido una arquitectura robusta por capas 
                    que garantiza escalabilidad, seguridad mediante JWT y una experiencia 
                    de usuario fluida incluso sin conexión a internet. Bajo la metodología 
                    Scrumban, fusionamos la agilidad de Scrum con la claridad visual de 
                    Kanban para entregar una herramienta precisa, ética y de alto impacto 
                    social en el sector educativo</p>
            </div>
            <div class="overlay-content-1-2">
                <p>Creemos que cada joven posee un potencial único que merece ser descubierto 
                    y potenciado a través de la ciencia y el arte. Nuestra plataforma utiliza 
                    un núcleo de Inteligencia Artificial híbrida, combinando Firebase ML y OpenAI, 
                    para transformar simples cuestionarios en diagnósticos profundos y personalizados. 
                    No solo entregamos resultados; conectamos sueños con oportunidades reales 
                    mediante geolocalización, vinculando a los futuros líderes con las mejores 
                    universidades y cursos de su región. Estamos comprometidos con democratizar 
                    el acceso a la información, impulsando a una nueva generación a elegir carreras 
                    STEAM con confianza, propósito y una visión clara de su futuro profesional.</p>
            </div>
        </div>
    </section>

    <section class="hero-section-4">
        <div class="overlay-content-2">
            <img src="assets/3.gif" class="gif-steam" alt="STEAM"><h1 class="reveal-text">Impulso STEAM</h1>
        </div>
    </section>

    <section class="hero-section-5">
        <div class="overlay-content-3">
            <p>Copyright © 2026 Impulso STEAM. <br>Todos los derechos reservados.<br><br>
                <button class="cta-button-2"><lucide-icon name="facebook" strokeWidth="1" size="34"></lucide-icon></button>
                <button class="cta-button-2"><lucide-icon name="twitter" strokeWidth="1" size="34"></lucide-icon></button>
                <button class="cta-button-2"><lucide-icon name="instagram" strokeWidth="1" size="34"></lucide-icon></button>
                <button class="cta-button-2"><lucide-icon name="linkedin" strokeWidth="1" size="34"></lucide-icon></button>
            </p>
        </div>
        <div class="overlay-content-4">
            <p><strong class="strong">Empresa</strong><br><br>Sobre nosotros <br>Contacto</p>
        </div>
        <div class="overlay-content-5">
            <p><strong class="strong">Soporte</strong><br><br>Centro de ayuda<br>Términos de Servicio<br>Política de Privacidad</p>
        </div>
    </section>
</div>
<!--<div class="cursor-dot"></div>
<div class="cursor-outline"></div> -->